# Fichiers de configuration générés
.config
.config.old
.version
.old_version
.depend
.*.cmd
*.o
*.o.*
*.a
*.s
*.ko
*.ko.cmd
*.mod
*.mod.c
*.mod.o
*.symtypes
modules.order
modules.builtin
modules.builtin.modinfo
Module.symvers
Module.markers

# Fichiers de build noyau
vmlinux
vmlinux.o
vmlinux.map
vmlinux-gdb.py
vmlinuz
System.map
Kerntypes
tags
TAGS
cscope*
GPATH
GTAGS
GRTAGS
GSYMS
GTAGSTAGS

# Images de boot générées
arch/*/boot/Image*
arch/*/boot/zImage*
arch/*/boot/bzImage*
arch/*/boot/uImage*
arch/*/boot/dts/**/*.dtb
arch/*/boot/dts/**/*.dtbo
*.dtb
*.dtbo

# BTF / vmlinux extra
.btf.vmlinux.bin.o
.tmp_vmlinux*

# Firmware / certs générés
certs/signing_key.pem
certs/signing_key.x509
certs/x509.genkey

# Divers build artifacts
include/config/
include/generated/
arch/*/include/generated/
scripts/basic/fixdep
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/mod/modpost
scripts/mod/mk_elfconfig
scripts/dtc/dtc
*.gz
*.bz2
*.lz4
*.lzma
*.lzo
*.patch.orig
*.rej
*.orig
*~
.tmp_*
*.su
*.i
*.lst
*.ll
*.gcno
